form {
    margin: 15px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h4 {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.form-control label {
    width: 100%;
}
.form-control input {
    width: 100%;
    border: none;
}

.enviar {
    border-radius: 10px;
    padding: 5px;
}

.borrar{
    border-radius: 10px;
}

.enviar:hover {
    background-color: green;
}

.borrar:hover {
    background-color: red;
    border-radius: 10px;
}

.form-control .categorias-de-interes {
    display: flex;
    flex-direction: column;
}

.form-control .categorias-de-interes label {
    margin-left: 10px;
    padding-top: 5px;
}

.form-control .categorias-de-interes input {
   position: relative;
   width: 13px;
   height: 13px;
}

/* Login */

.enviar-login {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5vh;
    border-radius: 10px;
    border: solid 0.5px black;
    margin-bottom: 10px;
}

.enviar-login button {
    width: 100%;
    background: transparent;
    border: none;
    color: black;
    font-weight: bold;
}

.enviar-login button:hover {
    color: white;
}

.enviar-login:hover {
    background-color:#0022AA ;
    border: none;
}