/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: #ebebeb;
    margin: 0px;
}

header {
    background-color: #EAC926;
}

header nav {
    font-size: 12px;
}

.header nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.search-bar {
    width: 300px;
    height: 15px;
    background-color: #eaeaea;
    display: inline-block;
    border: solid 0.5px black;
}

h3 {
    font-size: 24px;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #03264C;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}

.price {
    font-size: 18px;
}

.discounts {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.main-article {
    width: 100%;
}

.footer{
    text-align: center;
}

.footer h4{
    margin: 0px;
}

.footer p{
    margin-top: 0px;
}

.footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}
